.img{
    margin: 0 40%;
    width: 300px;
    height: 100px;
}
 
.search{
    text-align: center;
    background-color: rgb(244, 240, 240);
    width: 1290px;
    margin: auto;
}

.linkboxs{
    width: 1290px;
    margin: auto;
}

.card{
    text-align: center;
    width: 421px;
    height: 150px;
    float: left;
    padding: 0 3px;
    margin-right: 3px;
    background-color: rgb(121, 237, 255);
}

.clear{
    clear: both;
}

.b{
    float: left;
    margin-left: 45%;
}